In [2]:
import numpy as np
import pandas as pd

from dataCollecting import getTeamHomeRuns

Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
      pitch_type   game_date  release_speed  release_pos_x  release_pos_z  \
10            SL  2024-03-16           88.6          -1.07           5.81
137           SL  2024-03-06           82.6          -1.26           5.80
532           FC  2024-06-16           85.6          -1.12           5.97
551           FC  2024-06-14           86.7          -1.73           5.66
569           FF  2024-06-12           93.2           1.07           5.99
...          ...         ...            ...            ...            ...
19551         CU  2024-03-29           80.6          -0.86           6.47
19606         CH  2024-03-20           79.8           2.22           4.97
19609         FC  2024-03-20           84.5           1.89           5.22
19617         CH  2024-03-20           81.8           2.10           5.06
19636         FF  2024-03-16           89.0          -0.97           5.57

              player_name  batter pitcher    events spin_dir  ...  \
10          Escarra, J.C.  641555  668470  home_run      NaN  ...
137       Narvaez, Carlos  665966  681603  home_run      NaN  ...
532         Trevino, Jose  624431  676710  home_run      NaN  ...
551         Trevino, Jose  624431  502624  home_run      NaN  ...
569         Trevino, Jose  624431  663738  home_run      NaN  ...
...                   ...     ...     ...       ...      ...  ...
19551  Stanton, Giancarlo  519317  656232  home_run      NaN  ...
19606  Stanton, Giancarlo  519317  594835  home_run      NaN  ...
19609  Stanton, Giancarlo  519317  594835  home_run      NaN  ...
19617  Stanton, Giancarlo  519317  594835  home_run      NaN  ...
19636  Stanton, Giancarlo  519317  502179  home_run      NaN  ...

       age_pit_legacy age_bat_legacy age_pit age_bat n_thruorder_pitcher  \
10                 25             29      26      29                   1
137                25             25      26      26                   1
532                28             31      28      32                   2
551                36             31      37      32                   1
569                27             31      28      32                   1
...               ...            ...     ...     ...                 ...
19551              28             34      28      35                   1
19606              32             34      32      35                   3
19609              32             34      32      35                   2
19617              32             34      32      35                   1
19636              37             34      37      35                   2

      n_priorpa_thisgame_player_at_bat api_break_z_with_gravity  \
10                                   0                     2.67
137                                  0                     3.45
532                                  1                     2.59
551                                  3                     2.51
569                                  0                     1.47
...                                ...                      ...
19551                                4                     4.77
19606                                2                     3.43
19609                                1                     2.56
19617                                0                     3.15
19636                                1                     1.39

      api_break_x_arm api_break_x_batter_in arm_angle
10              -0.60                  0.60       NaN
137             -0.50                 -0.50       NaN
532             -0.50                 -0.50      50.0
551             -0.45                 -0.45      44.4
569              0.66                 -0.66      39.4
...               ...                   ...       ...
19551           -0.37                 -0.37      51.7
19606            1.42                 -1.42       NaN
19609            0.18                 -0.18       NaN
19617            1.56                 -1.56       NaN
19636            0.28                  0.28       NaN

[204 rows x 74 columns]

c:\Users\lukat\Desktop\Catch-Zone\dataCollecting.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  teamAtBat = pd.concat(dataframes, ignore_index=True)

In [4]:
test = getTeamHomeRuns('NYY')

Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data

c:\Users\lukat\Desktop\Catch-Zone\dataCollecting.py:22: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  teamAtBat = pd.concat(dataframes, ignore_index=True)

In [11]:
#print(test.to_string())
test1 = test[['spin_dir','launch_speed', 'launch_angle','release_spin_rate', 'spin_axis']]

test1

      spin_dir  launch_speed  launch_angle  release_spin_rate  spin_axis
10         NaN         103.7          21.0             1965.0      161.0
137        NaN         102.3          24.0             2311.0      112.0
532        NaN         101.5          31.0             2426.0      156.0
551        NaN         101.1          28.0             2417.0      187.0
569        NaN         106.6          22.0             2311.0      135.0
...        ...           ...           ...                ...        ...
19551      NaN         109.7          21.0             2406.0       24.0
19606      NaN         108.8          25.0              100.0       21.0
19609      NaN         113.2          26.0             1955.0      129.0
19617      NaN         110.4          23.0             2297.0       99.0
19636      NaN         116.0          17.0             2205.0      203.0

[204 rows x 5 columns]